body {
    font-size: 18px;
    background-color: rgba(204, 204, 204, 0.41);
    font-family: "Roboto", sans-serif !important;
    margin: 0px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif !important;
    font-weight: 500;
    line-height: 1.1;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    color: inherit;
}


/* global */

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.fixwidth {
    height: 150px !important;
    width: 150px;
}


/* products */

.products-list li {
    float: left;
    width: 30%;
    margin-right: 5%;
}

.products-list li:nth-of-type(3n) {
    margin-right: 0;
}


/* single product */

.product__price {
    display: inline-block;
    line-height: 34px;
}

.product__button-wrap {
    float: right;
}


/* cart */

.cart ul {
    margin-bottom: 0.7em;
}

.cart-item {
    margin-bottom: 0.3em;
}

.cart-item__name {
    display: inline-block;
}

.cart-item__price {
    float: right;
}

.cart__total {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.1em;
    text-align: right;
}


/* helpers */

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    visibility: hidden;
}

.loader-overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 500000;
}

.loader-dots {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0.7;
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 25% 0;
    text-align: center;
}

.loader-dots .ball {
    display: inline-block;
}

.loader-dots .ball:after {
    background-color: #06607f;
    border-radius: 100%;
    content: "";
    display: block;
    height: 10px;
    width: 10px;
    margin: 0 10px 10px 0;
    position: relative;
}

.loader-dots .ball3:after {
    -webkit-animation: bounce 1s linear infinite 0.3s;
    animation: bounce 1s linear infinite 0.3s;
}

.loader-dots .ball2:after {
    -webkit-animation: bounce 1s linear infinite 0.1s;
    animation: bounce 1s linear infinite 0.1s;
}

.loader-dots .ball1:after {
    -webkit-animation: bounce 1s linear infinite 0s;
    animation: bounce 1s linear infinite 0s;
}

@-webkit-keyframes bounce {
    0% {
        top: 16px;
        opacity: 1;
    }
    30% {
        top: 0;
    }
    60% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: -32px;
        opacity: 0;
    }
}

@keyframes bounce {
    0% {
        top: 16px;
        opacity: 1;
    }
    30% {
        top: 0;
    }
    60% {
        top: 0;
        opacity: 1;
    }
    100% {
        top: 0, -32px;
        opacity: 0;
    }
}