<div class="thumbnail">
  <img src={{product.url}} class="fixwidth" alt="product image" />
  <div class="caption clearfix">
    <h5><a href={{product.url}}>{{product.name}}</a></h5>
    <div class="product__price">{{product.price}} {{product.currency}}</div>
    <div class="product__button-wrap">
      <button  *ngIf="product.added"  (click)="RemoveProduct(product)" class="btn btn-primary">Remove
      </button>
      <button  *ngIf="! product.added"  (click)="AddProduct(product)" class="btn btn-primary">Add to cart
       </button>
    </div>
  </div>
</div>