<div class="app-header">
		<h3>Candidate Search Filter</h3>
		<div class="filter">
			<div class="filter-left">
				<span>Add Filters</span>
				<div class="icon-add"></div>
			</div>
			<div class="filter-right">
				<div class="search">
					<span class="fa fa-search"></span>
					<input type="text" placeholder="Filter By Name" id="name" class="field-control">
				</div>
			</div>
		</div>
	</div>
	<div class="result-container">
		<div class="app-results">
			<ul class="search-result-list">
				<li class="search-result-list-item">
					<div class="profile">
						<div class="profile-pic"><img src="https://pbs.twimg.com/profile_images/812036256989401088/4DHoBOtG_400x400.jpg" class="img-responsive"></div>
						<div class="details">
							<h3 class="details-name">
								donAmbrove
							</h3>
							<h3 class="details-txt">
								total experience
							</h3>
							<h4 class="details-txt">
								Company :Fractal Analytics
							</h4>
							<h4 class="details-txt">
								Location :Bengaluru
							</h4>
							<h4 class="details-txt">
								Role :Big Data and Analytics Engineer
							</h4>
						</div>
					</div>
					<div class="profile">
							<div class="profile-pic"><img src="https://pbs.twimg.com/profile_images/812036256989401088/4DHoBOtG_400x400.jpg" class="img-responsive"></div>
							<div class="details">
								<h3 class="details-name">
									donAmbrove
								</h3>
								<h3 class="details-txt">
									total experience
								</h3>
								<h4 class="details-txt">
									Company :Fractal Analytics
								</h4>
								<h4 class="details-txt">
									Location :Bengaluru
								</h4>
								<h4 class="details-txt">
									Role :Big Data and Analytics Engineer
								</h4>
							</div>
						</div>
						<div class="profile">
								<div class="profile-pic"><img src="https://pbs.twimg.com/profile_images/812036256989401088/4DHoBOtG_400x400.jpg" class="img-responsive"></div>
								<div class="details">
									<h3 class="details-name">
										donAmbrove
									</h3>
									<h3 class="details-txt">
										total experience
									</h3>
									<h4 class="details-txt">
										Company :Fractal Analytics
									</h4>
									<h4 class="details-txt">
										Location :Bengaluru
									</h4>
									<h4 class="details-txt">
										Role :Big Data and Analytics Engineer
									</h4>
								</div>

		</div>
		</li>
		</ul>
	</div>
</div>