body {
  font-size: 18px;
  background-color: rgba(204, 204, 204, 0.41);
  font-family: "Roboto", sans-serif !important;
  margin: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: inherit;
}
.search-bar {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
  float: right;
}
.clear-float{
  clear: both;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  float: left;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}