body {
  font-size: 18px;
  background-color: rgba(204, 204, 204, 0.41);
  font-family: "Roboto", sans-serif !important;
  margin: 0px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif !important;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: inherit;
}

.app {
  display: flex;
  flex-direction: column;
}
.icon-add {
  height: 30px;
  width: 30px;
  background-image: url(assets/icons/plus.svg);
  background-size: 30px 30px;
  position: relative;
  top: 10px;
  left: 20px;
  background-repeat: no-repeat;
  background-size: 25px 30px;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
.search { position: relative; }
.search input { text-indent: 30px;}
.search .fa-search {
  position: absolute;
  top: 15px;
  left: 7px;
  font-size: 20px;
}

h3 .applied-filters {
  font-size: 14px;
  color: rgba(39, 31, 31, 0.45);
}

.filter{
  display: flex;
  justify-content: space-between;
}

.filter-action {
  color: #15c187;
  font-size: 14px;
  text-decoration: underline;
  margin-left: 30px;
}

.app-header {
  background-color: #ffffff;
  height: 120px;
  padding: 10px;
  color: black;
  .search {
    margin-right: 100px;
    .search-field {
      position: relative;
      color: #555;
      display: block;
    }
  }
}

.select-filters {
  display: flex;
  flex-direction: row;
}

.filter-label {
  color: #15c187;
}
body {
  font-family: Helvetica, sans-serif;
}

.react-autosuggest__container {
  position: relative;
  margin-bottom: 200px;
}

.react-autosuggest__input {
  width: 240px;
  height: 20px;
  padding: 10px 10px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 40px;
  width: 260px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.field-control {
  display: block;
  width: 100%;
  height: 34px;
  width: 204px;
  padding: 5px;
  font-size: 14px;
  font-size: 18px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border-radius: 0px !important;
}

.displayData {
  text-align: center;
}

.result-container {
  padding: 10px;
  margin: auto;
  width: 70%;
  height: 100%;
  /* Modal Content/Box */
  /* The Close Button */
  /* Modal Header */
  /* Modal Body */
  .result-container h5 {
    text-align: center;
    color: #9e9a9a;
  }
  .profile-pic {
    flex-grow: 0;
    order: 1;
    width: 100px;
    border-radius: 50px;
    height: auto;
  }
  .img-responsive {
    height: auto;
    width: 100px;
    border-radius: 50px;
  }
  .details {
    padding: 10px;
    order: 2;
    flex-grow: 2;
  }
  .modal_show {
    display: block;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  .modal_hide {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }
  .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .modal-body {
    padding: 2px 16px;
  }
  .close {
    &:hover, &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.app-results {
  margin-top: 20px;
  max-height: 650px;
  overflow-x: scroll;
  background-color: #fff;
}

.app-intro {
  font-size: large;
}

.footer {
  height: 70px;
  background-color: #ccc;
  h4 {
    vertical-align: middle;
    text-align: center;
  }
}

.search-result-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  .search-result-list-item {
    border-bottom: solid 5px rgba(204, 204, 204, 0.19);
    .profile {
      display: flex;
      padding: 20px;
      border-bottom: 2px solid #ccc;
      order: 1;
      flex-direction: row;
      &:hover, &:active {
        background-color: #ccc;
      }
      .profile-pic {
        flex-grow: 0;
        order: 1;
        width: 100px;
        border-radius: 50px;
        height: auto;
      }
      .img-responsive {
        height: auto;
        width: 100px;
        border-radius: 50px;
      }
      .details {
        padding: 10px;
        order: 2;
        margin-left: 30px;
        flex-grow: 2;
      }
    }
  }
}

.details-name {
  color: #2ac694;
}

.details-txt {
  font-size: 18px;
  color: rgba(6, 6, 6, 0.38);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader-hidden {
  visibility: hidden;
 }
 .loader-overlay {
  position: absolute;
  width:100%;
  top:0;
  left: 0;
  opacity: 1;
  z-index: 500000;
 }

 .loader-dots {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  opacity: 0.7;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding: 25% 0;
  text-align: center;
 }

 .loader-dots .ball {
  display: inline-block;
 }

 .loader-dots .ball:after {
  background-color: #06607F;
  border-radius: 100%;
  content: "";
  display: block;
  height: 10px;
  width: 10px;
  margin: 0 10px 10px 0;
  position: relative;
 }

 .loader-dots .ball3:after {
  -webkit-animation: bounce 1s linear infinite 0.3s;
  animation: bounce 1s linear infinite 0.3s;
 }

 .loader-dots .ball2:after {
  -webkit-animation: bounce 1s linear infinite 0.1s;
  animation: bounce 1s linear infinite 0.1s;
 }
 .loader-dots .ball1:after {
 -webkit-animation: bounce 1s linear infinite 0s;
 animation: bounce 1s linear infinite 0s;
 }

 @-webkit-keyframes bounce {
  0% {
      top: 16px;
      opacity: 1;
  }
  30% {
      top: 0;
  }
  60% {
      top: 0;
      opacity: 1;
  }
  100% {
      top: -32px;
      opacity: 0;
  }
 }

 @keyframes bounce {
  0% {
      top: 16px;
      opacity: 1;
  }
  30% {
      top: 0;
  }
  60% {
      top: 0;
      opacity: 1;
  }
  100% {
      top: 0, -32px;
      opacity: 0;
  }
 }
