
<div class="container">
<h2 BgDirectiveDirective>{{title}}</h2>
<div class="form-group">
  <input type="text" #box class="form-control"
          (keyup.enter)="addUser(box.value); box.value=''"
          placeholder="User name">
  <input id="can-fly" type="checkbox" [(ngModel)]="canFly"> can fly
  <input id="mutate" type="checkbox" [(ngModel)]="mutate">Mutate array
  <br/>
  <button class="btn btn-primary" (click)="reset()">Reset</button>
</div>

<h4>Heroes who fly (piped)</h4>
<div id="flyers">
  <div *ngFor="let user of (users | flyingUsers)">
    {{user.name}}
  </div>
</div>

<h4>All Heroes (no pipe)</h4>
<div id="all">
  <div *ngFor="let user of users">
    {{user.name}}
  </div>
</div>

</div>