<div class="container">
  <div class="row">
    <div class="col">
      <div class="align-right">
        <button type="button" class="btn btn-outline-dark" [routerLink]="['add']">Add</button>
      </div>
    </div>
  </div>
  <div class="row">
    <table class="table pad-5 table-hover table-responsive">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>Employee Name</th>
          <th>Phone no.</th>
          <th>E-mail</th>
          <th>Address</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emp of employees">
          <th scope="row">{{emp.id}}</th>
          <td>{{emp.name}}</td>
          <td>{{emp.phone}}</td>
          <td>{{emp.email}}</td>
          <td>{{emp.address}}</td>
          <td><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateModal" (click)="this.employeeForm.setValue(emp);">Edit</button></td>
          <td><button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#deleteModal" (click)="this.employeeForm.setValue(emp);">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  
<!-- Modal for update -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateModalLabel">Update Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="form-group">
            <label for="updateInputName">Name</label>
            <input type="text" class="form-control" id="updateInputName" formControlName="name" aria-describedby="nameHelp" placeholder="Name of Employee...">
            <small id="nameHelp" *ngIf="!this.employeeForm.controls['name'].valid" class="form-text text-danger">Name is required</small>
          </div>
          <div class="form-group">
            <label for="updateInputNumber">Phone Number</label>
            <input type="number" class="form-control" id="updateInputNumber" min="1000000000" max="9999999999" (keyup)="checkNumberLength()"
              formControlName="phone" aria-describedby="phoneHelp" placeholder="Phone Number of Employee...">
            <small id="phoneHelp" *ngIf="!this.employeeForm.controls['phone'].valid" class="form-text text-danger">Phone Required.</small>
          </div>
          <div class="form-group">
            <label for="updateInputEmail">Email address</label>
            <input type="email" class="form-control" id="updateInputEmail" formControlName="email" aria-describedby="emailHelp" placeholder="Enter E-mail...">
            <small id="emailHelp" *ngIf="!this.employeeForm.controls['email'].valid && this.employeeForm.controls['email'].errors" class="form-text text-danger">Not a Valid email</small>      
          </div>
          <div class="form-group">
            <label for="updateInputAddress">Address</label>
            <input type="text" class="form-control" id="updateInputAddress" formControlName="address" aria-describedby="addressHelp"
              placeholder="Address of Employee...">
            <small id="addressHelp" *ngIf="!this.employeeForm.controls['address'].valid" class="form-text text-danger">Address is required</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!employeeForm.valid && employeeForm.dirty" (click)="updateEmployee();" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for delete conformation -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Conform Delete?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">     
          <p>Are You Sure you want to delete <strong>{{this.employeeForm.controls['name'].value}}</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="delete(emp)" data-dismiss="modal">Delete it</button>
        </div>
      </div>
    </div>
  </div>
