<div class="app-header">
  <div class="filters">
  <h3>Candidate Search Filters <span class="applied-filters">applied filters </span></h3>
  <h5 class="filter-label">showing candidate from
  <span  class="filter-action"></span>
  </h5>

    <div class="select-filters">
        <select  class="field-control" id="location">
        <option></option>
        <option>Bangalore</option>
        <option>Gurgaon</option>
        <option>Delhi</option>
        <option>Goa</option>
        <option>Mumbai</option>

        </select>
         <select class="field-control" id="company">
         <option></option>
         <option>IBM</option>
         <option>MS</option>
         <option>Mckinsey</option>
         <option>Amdocs</option>
         <option>UHG</option>
        </select>
     </div>


  </div>
  <div class="search">
     <AutoSuggest userNames={this.props.candidates}  />
  </div>
</div>
